.range-bar {
  min-height: 1.08em;
}

.range-bar--main {
  min-height: 1.08em;
  background-color: #77757f;
  display: inline-block;
}

.range-bar--secondary {
  min-height: 1.08em;
  background-color: #d2d1d4;
  display: inline-block;
}
