.song-list {
  max-width: 68em;
  width: 100%;
}

.song-list__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.67em;
  padding: 0 1em;

  & > h1 {
    font-size: 1.75rem;
    margin: 0;
  }
}
