.tempo-badge {
  padding: 0.33em 0.67em;
  border-radius: 0.83em;
  height: 2em;
  display: inline;
  font-size: 1rem;
}

.tempo-badge--fast {
  background-color: #fecce6;
  color: #fa0082;
}

.tempo-badge--medium {
  background-color: #ffe2cc;
  color: #ff6e01;
}

.tempo-badge--slow {
  background-color: #ccd8ff;
  color: #003cff;
}
