.table-row {
  display: grid;
  grid-template-columns: 6fr 4fr 2fr 3fr 1fr;
  height: 4em;
  align-items: center;
  
  & > th {
    text-align: left;
    color: #615e69;
    font-weight: normal;
  }
}

.table-row--heading {
  height: 2em;
  border-bottom: 1px solid #cfcfcf;
}
